.container {
  font-family: Arial, sans-serif;
  color: #f0f0f0;
  background-color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Стили заголовка */
header {
  background-color: #444;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

.auth-button {
  background: none;
  border: none;
  color: #61dafb;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #333;
}

.logout-button {
  background-color: #555;
}

.logout-button:hover {
  background-color: #444;
}

.register-button, .login-button {
  background-color: #444;
}

.register-button:hover, .login-button:hover {
  background-color: #333;
}

/* Стили для главного контента */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.categories {
  background-color: #444;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categories-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-item {
  background-color: #555;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  flex: 1 1 calc(33.333% - 10px); /* Для трех колонок с отступами */
}

.category-item a {
  color: #61dafb;
  text-decoration: none;
  font-size: 18px;
}

.category-item a:hover {
  text-decoration: underline;
}

/* Стили для подвала */
footer {
  background-color: #444;
  padding: 10px;
  text-align: center;
  color: #aaa;
}